.body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-cod {
  width: 20%;
  height: 300px;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  background-color: #8fa9bf94;
  box-shadow: 0 0 10px black;
  border-radius: 5px;

}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 10px;
  background-color: #8fa9bf94;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}

.inserted-message {
  display: flex;
  flex-direction: column;
}

.text-message {
  font-size: 15px;
  font-weight: bolder;
}

.text-select {
  font-size: 15px;
}

.hide {
  display: none;
  font-weight: bold;
}

#numKey {
  width: 50%;
  height: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.text-cod {
  font-weight: bold;
}

#submit {
  font-weight: bold;
}

textarea {
  resize: none;
  outline: none;
  overflow: auto;
}

.form-field {
  padding: 2px;
  vertical-align: middle;
}
